<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Supermarket</display-name>
  <servlet>
    <servlet-name>Marketservlet</servlet-name>
    <servlet-class>com.servlet.Marketservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Marketservlet</servlet-name>
    <url-pattern>/Supermarket/Marketservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Usertservlet</servlet-name>
    <servlet-class>com.servlet.Userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userservlet</servlet-name>
    <url-pattern>/Supermarket/Userservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>com.servlet.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Supermarket/Loginservlet</url-pattern>
  </servlet-mapping>
</web-app>